@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed:400,300,700&subset=latin,latin-ext);
@import url(https://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700&subset=latin,latin-ext);
/* line 35, ../sass/_grids.scss */
html {
  font-size: 62.5%;
  /* 1 */
}

/* line 18, ../sass/style.scss */
body {
  /* 3 */
  /* 3 */
  /* 4 */
  /* 6 */
  /* 6 */
  /* 7 */
  font-size: 16px;
  /* 9 */
  font-size: 1.6rem;
  /* 9 */
  /* 3 */
  /* 3 */
  /* 4 */
  /* 6 */
  /* 6 */
  /* 7 */
  line-height: 24px;
  /* 9 */
  line-height: 2.4rem;
  /* 9 */
  font-family: 'Roboto', sans-serif;
  max-width: 80%;
  margin-left: auto;
  margin-right: auto;
}
@media (max-width: 500px) {
  /* line 18, ../sass/style.scss */
  body {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
  /* line 12, ../../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/susy-2.2.6/sass/susy/output/support/_clearfix.scss */
  body:after {
    content: " ";
    display: block;
    clear: both;
  }
}
/* line 12, ../../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/susy-2.2.6/sass/susy/output/support/_clearfix.scss */
body:after {
  content: " ";
  display: block;
  clear: both;
}
@media (min-width: 1500px) {
  /* line 18, ../sass/style.scss */
  body {
    max-width: 1200px;
  }
}

/* line 31, ../sass/style.scss */
ul, li {
  padding: 0;
  margin: 0;
  margin-bottom: 1.69492%;
  list-style-type: none;
  float: left;
}

/* line 39, ../sass/style.scss */
h1, h2, h3, h4 {
  padding: 15px 20px 15px;
  margin: 0;
  padding-top: 20px;
  font-family: 'Roboto Condensed', sans-serif;
}

/* line 46, ../sass/style.scss */
.mediac {
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 1.69492%;
}
@media (min-width: 728px) {
  /* line 46, ../sass/style.scss */
  .mediac {
    width: 100%;
    float: left;
    margin-left: 0;
    margin-right: 0;
  }
}
@media (min-width: 1200px) {
  /* line 46, ../sass/style.scss */
  .mediac {
    width: 100%;
    float: left;
    margin-left: 0;
    margin-right: 0;
  }
}

/* line 59, ../sass/style.scss */
.pre {
  background: #583d72;
  color: #fff;
  padding: 15px 20px 15px;
}
@media (min-width: 728px) {
  /* line 59, ../sass/style.scss */
  .pre {
    background: #443f72;
  }
}
@media (min-width: 1200px) {
  /* line 59, ../sass/style.scss */
  .pre {
    background: #583d72;
  }
}

/* line 72, ../sass/style.scss */
.top {
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
  background: #323052;
  color: #fff;
  margin-bottom: 1.69492%;
}
/* line 77, ../sass/style.scss */
.top img {
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 3.44828%;
}
@media (min-width: 728px) {
  /* line 72, ../sass/style.scss */
  .top {
    width: 57.62712%;
    float: left;
    margin-right: 1.69492%;
    background: #d1d6eb;
    color: #000;
  }
  /* line 85, ../sass/style.scss */
  .top img {
    width: 49.15254%;
    float: left;
    margin-right: 1.69492%;
    margin-bottom: 1.69492%;
  }
}
@media (min-width: 1200px) {
  /* line 72, ../sass/style.scss */
  .top {
    width: 66.10169%;
    float: left;
    margin-right: 1.69492%;
    background: #f8c833;
  }
  /* line 93, ../sass/style.scss */
  .top img {
    width: 40.67797%;
    float: left;
    margin-right: 1.69492%;
  }
}

/* line 99, ../sass/style.scss */
.header {
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
  background: #ed4383;
  margin-bottom: 1.69492%;
}
@media (min-width: 728px) {
  /* line 99, ../sass/style.scss */
  .header {
    width: 40.67797%;
    float: right;
    margin-right: 0;
    background: #edb682;
  }
}
@media (min-width: 1200px) {
  /* line 99, ../sass/style.scss */
  .header {
    width: 32.20339%;
    float: right;
    margin-right: 0;
    background: #ed4383;
  }
}

/* line 114, ../sass/style.scss */
.altceva {
  padding: 15px 20px 15px;
}

/* line 118, ../sass/style.scss */
.main {
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
  background: #c8e2bd;
}
/* line 121, ../sass/style.scss */
.main span {
  padding: 15px 20px 15px;
  display: block;
}
@media (min-width: 728px) {
  /* line 118, ../sass/style.scss */
  .main {
    background: #dde2bf;
    width: 66.10169%;
    float: left;
    margin-right: 1.69492%;
  }
}
@media (min-width: 1200px) {
  /* line 118, ../sass/style.scss */
  .main {
    background: #cbcde2;
    width: 66.38655%;
    float: left;
    margin-right: 0.84034%;
  }
}

/* line 135, ../sass/style.scss */
.aside {
  /* 3 */
  /* 3 */
  /* 4 */
  /* 6 */
  /* 6 */
  /* 7 */
  font-size: 14px;
  /* 9 */
  font-size: 1.4rem;
  /* 9 */
  /* 3 */
  /* 3 */
  /* 4 */
  /* 6 */
  /* 6 */
  /* 7 */
  line-height: 20px;
  /* 9 */
  line-height: 2rem;
  /* 9 */
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
  background: #dec293;
}
@media (min-width: 728px) {
  /* line 135, ../sass/style.scss */
  .aside {
    width: 32.20339%;
    float: right;
    margin-right: 0;
    background: #acfaff;
  }
}
@media (min-width: 1200px) {
  /* line 135, ../sass/style.scss */
  .aside {
    width: 32.77311%;
    float: right;
    margin-right: 0;
    background: #86de8b;
  }
}

/* line 151, ../sass/style.scss */
.col1, .col2, .col3 {
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
  background: #87c384;
  margin-top: 0;
  margin-bottom: 1.69492%;
  float: left;
}
@media (min-width: 728px) {
  /* line 151, ../sass/style.scss */
  .col1, .col2, .col3 {
    width: 49.15254%;
    float: left;
    margin-right: 1.69492%;
    background: #ad96d4;
    margin-bottom: 0;
  }
}
@media (min-width: 1200px) {
  /* line 151, ../sass/style.scss */
  .col1, .col2, .col3 {
    width: 32.20339%;
    float: left;
    margin-right: 1.69492%;
    background: #6294d4;
  }
}

@media (min-width: 728px) {
  /* line 168, ../sass/style.scss */
  .col2 {
    float: right;
    margin-right: 0;
  }
}
@media (min-width: 1200px) {
  /* line 168, ../sass/style.scss */
  .col2 {
    width: 32.20339%;
    float: left;
    margin-right: 1.69492%;
  }
}

@media (min-width: 728px) {
  /* line 177, ../sass/style.scss */
  .col3 {
    display: none;
  }
}
@media (min-width: 1200px) {
  /* line 177, ../sass/style.scss */
  .col3 {
    display: block;
    float: right;
    margin-right: 0;
  }
}

/* line 187, ../sass/style.scss */
.gallery img {
  /*  @include susy-breakpoint(max-width 480px, 12) {
      @include gallery(1 of 1);
      padding-top: gutter(1);
    }*/
  width: 49.15254%;
  float: left;
  padding-top: 1.69492%;
}
/* line 66, ../../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/susy-2.2.6/sass/susy/language/susy/_gallery.scss */
.gallery img:nth-child(2n + 1) {
  margin-left: 0;
  margin-right: -100%;
  clear: both;
  margin-left: 0;
}
/* line 66, ../../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/susy-2.2.6/sass/susy/language/susy/_gallery.scss */
.gallery img:nth-child(2n + 2) {
  margin-left: 50.84746%;
  margin-right: -100%;
  clear: none;
}
@media (min-width: 728px) {
  /* line 187, ../sass/style.scss */
  .gallery img {
    width: 23.25581%;
    float: left;
    padding-top: 2.32558%;
  }
  /* line 66, ../../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/susy-2.2.6/sass/susy/language/susy/_gallery.scss */
  .gallery img:nth-child(4n + 1) {
    margin-left: 0;
    margin-right: -100%;
    clear: both;
    margin-left: 0;
  }
  /* line 66, ../../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/susy-2.2.6/sass/susy/language/susy/_gallery.scss */
  .gallery img:nth-child(4n + 2) {
    margin-left: 25.5814%;
    margin-right: -100%;
    clear: none;
  }
  /* line 66, ../../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/susy-2.2.6/sass/susy/language/susy/_gallery.scss */
  .gallery img:nth-child(4n + 3) {
    margin-left: 51.16279%;
    margin-right: -100%;
    clear: none;
  }
  /* line 66, ../../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/susy-2.2.6/sass/susy/language/susy/_gallery.scss */
  .gallery img:nth-child(4n + 4) {
    margin-left: 76.74419%;
    margin-right: -100%;
    clear: none;
  }
}
@media (min-width: 1200px) {
  /* line 187, ../sass/style.scss */
  .gallery img {
    width: 13.7931%;
    float: left;
    padding-top: 3.44828%;
  }
  /* line 66, ../../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/susy-2.2.6/sass/susy/language/susy/_gallery.scss */
  .gallery img:nth-child(6n + 1) {
    margin-left: 0;
    margin-right: -100%;
    clear: both;
    margin-left: 0;
  }
  /* line 66, ../../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/susy-2.2.6/sass/susy/language/susy/_gallery.scss */
  .gallery img:nth-child(6n + 2) {
    margin-left: 17.24138%;
    margin-right: -100%;
    clear: none;
  }
  /* line 66, ../../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/susy-2.2.6/sass/susy/language/susy/_gallery.scss */
  .gallery img:nth-child(6n + 3) {
    margin-left: 34.48276%;
    margin-right: -100%;
    clear: none;
  }
  /* line 66, ../../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/susy-2.2.6/sass/susy/language/susy/_gallery.scss */
  .gallery img:nth-child(6n + 4) {
    margin-left: 51.72414%;
    margin-right: -100%;
    clear: none;
  }
  /* line 66, ../../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/susy-2.2.6/sass/susy/language/susy/_gallery.scss */
  .gallery img:nth-child(6n + 5) {
    margin-left: 68.96552%;
    margin-right: -100%;
    clear: none;
  }
  /* line 66, ../../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/susy-2.2.6/sass/susy/language/susy/_gallery.scss */
  .gallery img:nth-child(6n + 6) {
    margin-left: 86.2069%;
    margin-right: -100%;
    clear: none;
  }
}

@media (min-width: 1200px) {
  /* line 204, ../sass/style.scss */
  .ulist li:nth-child(2n+2) {
    float: right;
    margin-right: 0;
  }
}

/* line 210, ../sass/style.scss */
.ulist li {
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
}
@media (min-width: 1200px) {
  /* line 210, ../sass/style.scss */
  .ulist li {
    width: 49.15254%;
    float: left;
    margin-right: 1.69492%;
  }
}

/* line 217, ../sass/style.scss */
.ulist li span {
  float: left;
  padding: 15px 20px 15px;
  background: #cbb466;
}
@media (min-width: 728px) {
  /* line 217, ../sass/style.scss */
  .ulist li span {
    background: #65e0f2;
  }
}
@media (min-width: 1200px) {
  /* line 217, ../sass/style.scss */
  .ulist li span {
    background: #47ba51;
  }
}
