/* line 11, ../sass/style.scss */
body {
  font-size: 16px;
  line-height: 24px;
  font-family: 'Segoe UI', sans-serif;
  max-width: 80%;
  margin-left: auto;
  margin-right: auto;
}
/* line 12, ../../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/susy-2.2.6/sass/susy/output/support/_clearfix.scss */
body:after {
  content: " ";
  display: block;
  clear: both;
}

@media (min-width: 1px) {
  /* line 23, ../sass/style.scss */
  .top {
    width: 100%;
    float: left;
    margin-left: 0;
    margin-right: 0;
    background: #f8c833;
  }

  /* line 29, ../sass/style.scss */
  .header {
    width: 100%;
    float: left;
    margin-left: 0;
    margin-right: 0;
    background: #af887f;
  }

  /* line 35, ../sass/style.scss */
  .main {
    width: 100%;
    float: left;
    margin-left: 0;
    margin-right: 0;
    background: #908ad2;
  }

  /* line 41, ../sass/style.scss */
  .aside {
    width: 100%;
    float: left;
    margin-left: 0;
    margin-right: 0;
    background: #47ba51;
  }
}
@media (min-width: 480px) {
  /* line 48, ../sass/style.scss */
  .top {
    width: 100%;
    float: left;
    margin-left: 0;
    margin-right: 0;
    background: #f8c833;
  }

  /* line 54, ../sass/style.scss */
  .header {
    width: 49.15254%;
    float: left;
    margin-right: 1.69492%;
    background: #ed4383;
  }

  /* line 60, ../sass/style.scss */
  .main {
    width: 66.10169%;
    float: left;
    margin-right: 1.69492%;
    background: #908ad2;
  }

  /* line 66, ../sass/style.scss */
  .aside {
    width: 32.20339%;
    float: right;
    margin-right: 0;
    background: #47ba51;
  }
}
/*@include susy-breakpoint($large, 24 split) {}*/
@media (min-width: 1200px) {
  /* line 76, ../sass/style.scss */
  .top {
    width: 57.98319%;
    float: left;
    margin-right: 0.84034%;
    background: #f8c833;
  }

  /* line 82, ../sass/style.scss */
  .header {
    width: 41.17647%;
    float: right;
    margin-right: 0;
    background: #ed4383;
  }

  /* line 87, ../sass/style.scss */
  h4, h3 {
    width: 100%;
    float: left;
    margin-left: 0;
    margin-right: 0;
  }

  /* line 90, ../sass/style.scss */
  .main {
    background: #a6a7d2;
    width: 74.78992%;
    float: left;
    margin-right: 0.84034%;
  }

  /* line 95, ../sass/style.scss */
  .col1, .col2, .col3 {
    width: 32.77311%;
    float: left;
    margin-right: 0.84034%;
  }

  /* line 98, ../sass/style.scss */
  .col3 {
    float: right;
    margin-right: 0;
  }

  /*  .col3 {
      @include span(8 last);
    }*/
  /*   .content {
      @include span(8 of 12);
      @include bleed(gutter(12));
      margin-bottom: 0;
      padding-bottom:     }

  /*  .gallery-item {
      @include gallery(2 of 8);
      margin-bottom: gutter(8);
    }
    .gallery {
      @include clearfix;
    }*/
  /*  .col1 {
      background: #81d25d;
    }
    .col2 {
      background: #d27e72;
    }
    .col3 {
      background: #4f7dd2;
    }*/
  /* line 129, ../sass/style.scss */
  .aside {
    width: 24.36975%;
    float: right;
    margin-right: 0;
    background: #47ba51;
    /*    @include pad(10px);*/
  }
}
