// Screen
// ======
@import "grids";
@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed:400,300,700&subset=latin,latin-ext);
@import url(https://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700&subset=latin,latin-ext);

@mixin max-min($max, $min) {
  max-width: $max;
  min-width: $min;
  margin: 30px auto;
}

body {
  font-size: 15px;
  line-height: 22px;
  font-family: 'Roboto', sans-serif;
  @include container(80%);
}
/*.red { @include sassy-button-gradient("matte", #e86a43); }

.blue { @include sassy-button-gradient("simple", #4d8ccd); }

.green { @include sassy-button-gradient("glass", #8cbe5f); }
.button { @include sassy-button-structure(50px, 20px);
  margin:10px auto; }*/
ul, li {
  padding: 0;
  margin: 0 0 10px;
  list-style-type: none;
}

$small: max-width 639px;
$medium: 640px;
$large: 1200px;
$padd: 15px 20px 15px;
@include susy-breakpoint($small) {

  .top {
    @include span(12);
    background: #f8c833;

  }

  .header {
    @include span(12);
    background: #af887f;

  }

  .main {
    @include span(12);
    background: #908ad2;

  }

  .aside {
    @include span(12);
    background: #47ba51;
  }
}

@include susy-breakpoint($medium) {
  .top {
    @include span(12);
    background: #f8c833;

  }

  .header {
    @include span(6);
    background: #ed4383;

  }

  .main {
    @include span(8);
    background: #908ad2;

  }

  .aside {
    @include span(4);
    background: #47ba51;
  }
}

/*@include susy-breakpoint($large, 24 split) {}*/

.altceva {
  padding: $padd;
}

.top {
  @include susy-breakpoint($large, 24) {
    @include span(14);
    background: #f8c833;
    margin-bottom:gutter(24);
    img {
      @include span(10);
    }
  }
}

.header {
  @include susy-breakpoint($large, 24) {
    @include span(10 last);
    background: #ed4383;
    margin-bottom:gutter(24);

  }
}

.main {
  @include susy-breakpoint($large, 24) {
    background: #cbcde2;
    @include span(18);
    span {
      padding: $padd;
      display: block;
    }
  }
}

.ulist li {
  @include susy-breakpoint($large, 24) {
    padding: $padd;
    background: #47ba51;
  }
}

.col1, .col2, .col3 {
  @include susy-breakpoint($large, 24) {
    @include span(8);
    background: #6294d4;
    margin-top: 0;
    margin-bottom: 0;
  }
}

.col3 {
  @include susy-breakpoint($large, 24) {
    @include span(last);
  }
}

.aside {
  @include susy-breakpoint($large, 24) {
    @include span(6 last);
    background: #86de8b;
  }
  @include clearfix;
}

.gallery img {
  @include susy-breakpoint($large, 24) {
    @include gallery(1 of 6 .25);
    padding-top: gutter(6 .25);
  }
}

.mediac {
  @include susy-breakpoint($small) {
    @include span(12);
    margin-bottom: gutter(12);
  }
  @include susy-breakpoint($medium) {
    @include span(12);
    margin-bottom: gutter(12);
  }
  @include susy-breakpoint($large, 24) {
    @include span(24);
    margin-bottom: gutter(24);
  }
}

.pre {
  background: #583d72;
  color: #fff;
  padding: $padd;

  @include susy-breakpoint($small) {
    background: #722a32;
  }
  @include susy-breakpoint($medium) {
    background: #926c00;
  }
  @include susy-breakpoint($large) {
    background: #583d72;
  }
}


h1, h2, h3, h4 {
  padding: $padd;
  margin: 0;
  padding-top: 20px;
  font-family: 'Roboto Condensed', sans-serif;
}